<div id="main-container" class="container">

  <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb p-3 bg-body-tertiary rounded-3">
      <li class="breadcrumb-item">
        <a class="link-body-emphasis" href="#" routerLink="">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-door-fill" viewBox="0 0 16 16">
            <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5"/>
          </svg>
          <span class="visually-hidden">Home</span>
        </a>
      </li>

      <li class="breadcrumb-item" *ngIf="isNew"><a href="#" routerLink="">Create Task</a></li>
      <li class="breadcrumb-item active" aria-current="page" *ngIf="!isNew">Edit Task {{task.id}}</li>
    </ol>
  </nav>

  <div class="row">
    <div class="col-md-9" role="main">
      <div class="card">
        <div class="card-header">
          <h6 *ngIf="isNew" class="card-title">Create Task</h6>
          <h6 *ngIf="!isNew" class="card-title">Edit Task</h6>
        </div>
        <div class="card-body">

            <form class="form-horizontal">

              <div class="input-group">
                <span class="input-group-text">First and last name</span>
                <select [(ngModel)]="task.title" class="form-select-sm" name="task.title">
                  <option *ngFor="let title of titles" [value]="title">{{title}}</option>
                </select>
                <input type="text" aria-label="First name" class="form-control" placeholder="First name" [(ngModel)]="task.firstName" name="task.firstName" >
                <input type="text" aria-label="Last name" class="form-control" placeholder="Surname" [(ngModel)]="task.lastName" name="task_user_lastname">
              </div>

              <div class="col-12">
                <label class="control-label">Scheduled Date</label>
                <input type="text" [(ngModel)]="task.scheduledDate" class="form-control " name="task_scheduledDate" />
              </div>

              <div class="col-12">
                <label class="control-label">Notes</label>
                <textarea [(ngModel)]="task.notes" class="form-control " name="task_notes"></textarea>
              </div>

              <hr class="my-4"/>
              <h4 class="mb-3">Address</h4>

              <div class="col-12">
                <label class="col-sm-2 form-label">Address 1</label>
                <input type="text" [(ngModel)]="task.address.address1" class="form-control " name="task_address1" required />

              </div>
              <div class="col-12">
                <label class="control-label">Address 2 (Optional)</label>
                <input type="text" [(ngModel)]="task.address.address2" class="form-control" name="task_address2" />
              </div>
              <div class="col-12">
                <label class="control-label">Town</label>
                <input type="text" [(ngModel)]="task.address.town" class="form-control " name="task_town" />
              </div>
              <div class="col-12">
                <label class="control-label">County</label>
                <input type="text" [(ngModel)]="task.address.county" class="form-control " name="task_county" />
              </div>
              <div class="col-12">
                <label class="control-label">Postcode</label>
                <input type="text" [(ngModel)]="task.address.postcode" class="form-control " name="task_postcode" />
              </div>

            </form>

        </div>

        <div class="card-footer">
          <div class="actions">
            <button class="btn btn-success" (click)="save()">save</button>
            <button class="btn btn-primary" *ngIf="!isNew && task.status == 'TODO'" (click)="inProgressTask()">In Progress</button>
            <button class="btn btn-primary" *ngIf="!isNew && task.status != 'COMPLETED'" (click)="completeTask()">Completed</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
