

<div id="main-container" class="container">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb p-3 bg-body-tertiary rounded-3">
            <li class="breadcrumb-item"><a href="#" routerLink="">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-door-fill" viewBox="0 0 16 16">
                    <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5"/>
                </svg>
            </a></li>
            <li class="breadcrumb-item active" aria-current="page" >View Task {{task.id}}</li>
        </ol>
    </nav>

  <div class="row">
    <div class="col-md-9" role="main">
      <div class="card" role="">
          <div class="card-header">
            <h5 class="card-title">View Task {{task.id}}</h5>
          </div>
          <div class="card-body">
              <form class="form-horizontal">
                <dl>
                  <dt>Title</dt>
                  <dd>{{task.title}}</dd>
                  <dt>First Name</dt>
                  <dd>{{task.firstName}}</dd>
                  <dt>Last Name</dt>
                  <dd>{{task.lastName}}</dd>
                  <dt>Scheduled Date</dt>
                  <dd>{{task.scheduledDate}}</dd>
                  <dt>Status</dt>
                  <dd>{{task.status}}</dd>
                  <dt>Notes</dt>
                  <dd>{{task.notes}}</dd>
                  <dt>Address</dt>
                  <dd>{{viewAddress(task.address)}}</dd>
                </dl>
              </form>
          </div>
          <div class="card-footer">
            <a routerLink="" class="btn btn-success" style="float:right">Go Back</a>
          </div>
      </div>
    </div>
  </div>

</div>
