/* You can add global styles to this file, and also import other style files */
//@import '~bootstrap/dist/css/bootstrap.min.css';

body {
  // padding-top: 50px;
}

#main-container .tab-content {
  border: 1px solid lightgrey;
  border-top: 0px;
  padding: 16px;
}

#main-container .tab-pane {
  padding: 16px;
  border: 1px solid greenyellow;
}


/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
