<div id="main-container" class="container task-list-page">

  <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb p-3 bg-body-tertiary rounded-3">
      <li class="breadcrumb-item"><a href="#" routerLink="">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-door-fill" viewBox="0 0 16 16">
          <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5"/>
        </svg>
      </a></li>
      <li class="breadcrumb-item active" aria-current="page">Task List</li>
    </ol>
  </nav>

  <h2>Tasks</h2>

  <div class="card">
    <div class="card-header">
      <h6 class="card-subtitle text-muted">Search/Filters:</h6>
    </div>
    <div class="card-body">
      <form class="row row-cols-md-auto">
        <div class="form-group mb-3 col-md-6">
          <label for="sf-form1">Status:</label>
          <select [(ngModel)]="userInputs.status" name="status" (change)="search()" class="form-control" placeholder="Status" id="sf-form1" >
            <option *ngFor="let item of statusOptions" [value]="item.id">{{item.label}}</option>
          </select>
        </div>
        <div class="form-group mb-3 col-md-6">
          <label for="sf-form2">Sort:</label>
          <select  [(ngModel)]="userInputs.sort" name="sort" (change)="search()" class="form-control" placeholder="Sort" id="sf-form2">
            <option *ngFor="let item of sortOptions" [value]="item.id">{{item.label}}</option>
          </select>
        </div>
      </form>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h5 class="card-title">Search Results</h5>
      <h6 class="card-subtitle"></h6>
    </div>

    <div class="card-body">
      <div class="row">
        <div class="col-sm-12 col-md-6"></div>
        <div class="col-sm-12 col-md-6">
          <a routerLink="/tasks/new" class="btn btn-success" style="float:right">Add New</a>
        </div>
      </div>

      <div class="row">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>id</th>
              <th>Name</th>
              <th>scheduledDate</th>
              <th>Status</th>
              <th>Address</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let task of tasks">
              <td>{{task.id}}</td>
              <td>{{task.title}} {{task.firstName}} {{task.lastName}}</td>
              <td>{{task.scheduledDate}}</td>
              <td>{{task.status}}</td>
              <td>{{viewAddress(task.address)}}</td>
              <td><a routerLink="/tasks/edit/{{task.id}}"><span class="align-middle fas fa-fw fa-pen">Edit</span></a></td>
              <td><a routerLink="/tasks/view/{{task.id}}">View</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>

</div>
